@charset 'utf-8';

/* version1 */
/*html, body {position:relative; height:100%;}
html {overflow:hidden;}
body {overflow:auto; -webkit-overflow-scrolling:touch; margin:0;}
#responsive {visibility:hidden; overflow:scroll; position:absolute; top:-100px; left:-100px; z-index:-1; width:100px; height:100px;}*/

/* version2 */
body {margin:0;}
#responsive {visibility:hidden; overflow:scroll; position:absolute; top:-100px; left:-100px; z-index:-1; width:100px; height:100px;}